{% extends 'base.twig'%}
{% block title %}Posts{% endblock title %}
{% block body %}
    <h1>Posts</h1>
    {% for post in posts %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% endfor %}
{% endblock body %}